*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    height: 100vh;
    overflow:hidden;
  }
  th {
    text-align: center;
  }
  .modal123{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.6);
  }
  .modal_inner123{
    width: 500px;
    position: relative;
    top: 50%;
    left: 18%;
    transform: translate(-50%, -50%);
    margin: auto;
    background: white;
    border-radius: 5px;
    overflow: hidden;
  }
  .modal_header123{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:15px;
    background: #e26e70;
    color: white;
  }
  .modal_header123 i{
    cursor:pointer;
  }
  .modal_body123{
    padding: 15px;
  }
  .modal_body123 label{
    margin: 5px;
  }
  .modal_body123 input{
    width: 70%;
    margin: 5px;
  }
  .modal_body123 h2{
    color: #e26e70;
    margin-bottom: 10px;
    font-size: 20px;
  }
  .modal_footer123{
    padding: 15px;
    text-align: right;
  }
  .modal_footer123 button{
    padding: 10px 20px;
    color: white;
    background:#e26e70;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .hide{
    display: none;
  }
  tr{
    transition: all 0.3s ease-in-out;
    text-align: center;
    align-items: center;
    top: -50%
  }
  table tr th{
      font-weight: 400;
      text-align: center;
  }
  table tr#non-h{
      font-size: 18px;
  }
  table tr:hover{
      background: rgba(255, 191, 0, 0.5);
  }
  table tr#non-h:hover{
      background: white;
  }
  th p{
      text-decoration: underline;
      color:rgba(0, 113, 179, 1);
      cursor: pointer;
      text-align: center;
      padding-left: 12px;
  }
  select {
    flex: 1;
    padding: 0 .5em;
    color: black;
    cursor: pointer;
    
}