.product{
    padding: 24px;
}

.product-item button {
    border: 1px solid #ececec;
    height: 40px;
    width: 40px;
    align-items: center;
    margin: 40px 0 24px 0px;
    background-color: white;
    transition: all 0.2s ease-in-out;
}
.product-item button:hover {
    background-color: #ececec;
    font-weight: 600;
    font-size: 24px;
    border-radius: 10% ;
}
.list-product-item ul li a img{
    height: 100px;
    width: 100px;
    margin: 12px 0px 24px 16px;
}
#item2 li a img{
    width: 80px;
    size: 50%;
    margin: 5px 0px 18px 16px;
}
#item3 li a img{
    width: 80px;
    size: 50%;
    margin: 5px 18px 18px 16px;
}
#name-shirts h1{
    margin: 36px 36px 24px 0;
    font-size: 48px;
    font-weight: 500;
}
#name-shirts p span{
    color: #3498db;
    font-weight: 500;
}
#name-shirts p span.gach{   
    color: #333;
}
#name-shirts p.price{   
    color: #333;
    font-size: 36px;
    margin: 35px 12px 35px 0;
    font-weight: 700;
}
.size button{
    width: 50px;
    height: 50px;
    border: 1px solid #CAD3C8;
    background-color: white;
    margin-right: 12px;
    margin-bottom: 24px;
    transition: all 0.3s ease-in-out;
}
#buy-amount {
    display: flex;
}
#buy-amount button{
    width: 45px;
    height: 45px;
    outline: none;
    background: none;
    border: 1px solid #CAD3C8;
    cursor: pointer;
}
#buy-amount button:hover{
    background-color: #CAD3C8;
    font-size: 23px;
    text-align: center;
}
#buy-amount #amount{
    width: 40px;
    text-align: center;
    border: 1px solid #CAD3C8;
}
.GH{
    width: 200px;
    height: 45px;
    border: 1px solid #CAD3C8;
    background: #fa8231;
    color: white;
    margin-left: 36px;
}
#description button{
    margin: 36px 0 0 0;
    border: 1px solid #CAD3C8;
    width: 150px;
    height: 50px;
    background: #fa8231;
    color: white;
}
#description1 {
    border: 1px solid #CAD3C8;
    font-size: 16px;
}
#description1 p{
    margin: 24px; 
}
#description1 span{
    margin: 24px; 
    font-size: 24px;
    font-weight: 700;
}
.bord
{
    border: 1px solid #dfe6e9;
    margin: 5px
}